<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:c="http://www.springframework.org/schema/c"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<context:component-scan base-package="ex07" />
	
	<!-- 빈의 생성 순서
		1) 빈을 생성한다. 
		2) 의존 객체를 찾는다. 
		3) 어? 의존 객체를 위한 클래스는 있는데 아직 객체를 생성하기전이네!
		4) 의존 객체를 생성한다.
		5) 의존 객체를 주입한다.
		
	 -->
	<bean class="ex07.Car">
		<property name="engine" ref="engine"/>
	</bean>
	
	<bean id="engine" class="ex07.Engine">
		<property name="maker" value="기아자동차"/>
		<property name="horsePower" value="300"/>
	</bean>
	
	<bean id="engine2" class="ex07.Engine">
		<property name="maker" value="기아자동차"/>
		<property name="horsePower" value="300"/>
	</bean>
	
	
	
</beans>















