<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kt.c.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="kt.c.vo.BoardFileVO" alias="BoardFileVO"/>
		<typeAlias type="kt.c.vo.LoginVO" alias="LoginVO"/>
	</typeAliases>

	<!-- 스프링과 연동할 때는 스프링에서 제공하는 DataSource를 써야 한다. 
		트랜잭션 관리는 스프링에서 처리한다.
		-->
	<!--	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.0.16:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  -->
  
  <mappers>
    <mapper resource="kt/c/dao/BoardDAO.xml"/>
  </mappers>
</configuration>















